body {
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
  margin: 0;
  font-family:consolas, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidenav{
  transition: 230ms;
}

button {
  color: #61dafb;
  background-color: #282c34;
  font-size: large;
  border: none;
  border-radius: 12px;
  height: 40px;
  width: 100px;
}
form p{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
}
p input{
  width: 40%;
  height:30px;
  border-radius: 10px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
textarea{
  height:100px;
  border-radius: 5px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
.movie{
  height: 130px;
  width: 70%;
  padding: 10px 16px;
  margin:0 auto;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.movie:hover{

  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}
.movie h2{
  margin-left: 10px;
  font-size: 25px;
  color: #165153;
  margin-bottom: 8px;
}
.aboutme{
  margin-top: -160px;
  width: 100%;
  height: 110%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  display: none;
}
.aboutme.open{
  display: block;
}
.aboutme.close{
  display: none;
}
.modal1{
  width: 70%;
  height: 40%;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  text-align: center;
  z-index: 2;
}
.btn{
  float: right;
  border-radius: 1px;
  color: black;
  cursor: pointer;
  padding:8px 2px;
  border:0;
  font-family: consolas,arial;
  background: #ffe100;
}
.btn:hover{
  padding: 5px 2px;
  color: #12a7af;
  font-size: 20px;
  transition: 200ms;
}
.part1{
 display: block;
}
.part1.close{
  display: none;
}
.part2{
  display: none;
}
.part2.open{
  /*font-family: 'Rubik Glitch', cursive;*/
  display: block;
}
.splash{
  margin-top: -160px;
  padding: 55% 35%;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  display: block;
}
.splash.close{
  display: none;
}
@keyframes r{
  from{
    transform:rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes r1 {
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(0deg);
  }
}
.rotate{
  transform: translateX(-50%);
  transform: translateY(-50%);
  animation-name: r;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.login{
  margin-top: -160px;
  width: 100%;
  height: 110%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 3;
  display: none;
}
.login.open{
  display: block;
}
.loginmodal{
  width: 60%;
  height: 50%;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.comment{
  margin-top: -160px;
  width: 100%;
  height: 110%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 2;
  display: none;
}
.comment.open{
  display: block;
}
.commentmodal{
  width: 55%;
  height: 40%;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  text-align: center;
}
@media all and (max-width:600px) {
  body{
    position: relative;
  }
  .commentmodal{
    width: 70%;
    height: 40%;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  .modal1{
    width: 90%;
    height: 40%;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
}

